/*Style Sheet for Web Development Skills Page  */

/* Page Styles */
html {
     background: url("images/leaf-background.jpg") no-repeat center fixed;
     background-size: cover;
}



  div {
      border-radius: 25px;
      width: 600px;
      margin: 50px auto;
      padding: 50px 100px;
      background-color: white;
  }

.html {
      border: 2px solid #E44D26;
      box-shadow: 2px 2px rgb(231, 97, 64);
}

.css {
    border: 2px solid rgb(1, 112, 186);
    box-shadow: 2px 2px rgb(1, 112, 186);
}

.js {
    border: 2px solid #F7DF1E;
    box-shadow: 2px 2px #F7DF1E;
}

/* Text Styles */
h1, h2 {
    font-family: 'Raleway', sans-serif;
}
 
h1 {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 45px;
    text-shadow: 2px 2px black;
}

h2 {
font-variant: small-caps;
}

 p, ul { 
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
 }

.tutorial {
    font-size: 12px;
}

span {
    font-family: Papyrus;
    
    }

stong {
    font-family: Papyrus;
}


/*Tutorial Notes */
    .tutorial {
        font-size: 12px;
    }
    

/* Link Styles */
a{
color: #0000cc;
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

/* Image Style */
img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}





